html {
  background-color: #1e2120;
  margin: 0 auto;
}

/*head*/
.grid2 {
  grid-area: Head;
  display: block;
  margin: .20 auto;
  padding-bottom: 2%;
  justify-content: center;
  left: auto;
  width: 100%;
  height: auto;
}

.neon-text {
  display: flex;
  color: #fda64e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0 0 5px #de3c01, 0 0 10px #de6801, 0 0 20px #de3c01, 0 0 40px #de3c01, 0 0 100px #de6801;
  animation: createbox 2s infinite;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-size-adjust: 100%;
  letter-spacing: 3px;

}

@keyframes createbox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(7);
  }
}

/*navbar*/

.grid1 {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;

}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
}

a {
  display: inline-flex;
  color: #fda64e;
  text-align: center;
  padding-inline: 0.5em;
  text-decoration: none;
}

li a:hover {
  background-color: #313131;
  color: rgb(235, 4, 4);
}

/*boyd*/

body {
  margin: 0%;
}

.grid-item1 {
  grid-area: left;
}

/* grid*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  grid-template-areas:
    "nav nav nav"
    "head head head"
    "left center right"
    "grid4 grid4 grid4";

}



/* Flexbox*/

.flexcontainer {
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: row;
  object-fit: scale-down;

}

.grid-item1 {
  grid-area: left;
}

.grid-item2 {
  grid-area: center;
}

.grid-item3 {
  grid-area: right;
}

.flex-item {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: whitesmoke;
  padding: 2%;
  align-items: center;
  color: whitesmoke;
  justify-content: center;
  align-content: center;
  width: fit-content;

}


button {
  background-color: #fda64e;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  border: whitesmoke;

}

.grid4 {
  grid-area: footer;
  background-color: #1E1E1E;
  font: 20px Arial, Helvetica, sans-serif, sans-serif;
  color: #cbc23a;
  padding: 5px;
  text-align: end;
  justify-content: center;
  align-content: center;
  text-size-adjust: 100%;
}


/* Media Queries */
@media (max-width: 1080px) {

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "head"
      "left"
      "center"
      "right"
      "footer";
    width: auto;
    height: auto;
    text-size-adjust: 50%;
  }

  nav {
    flex: 100%
  }
}